body {
    font-family: Arial, sans-serif;
}

.vagas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.vaga {
    position: relative;
    background-color: rgba(161, 161, 161, 0.76);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carro-info {
    margin-bottom: 10px;
}

.remover-carro-btn {
    background-color: #0a0a0a;
    color: rgba(0, 255, 221, 0.664);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
}

.btn-rounded {
    border-radius: 20px;
}

.btn-add-vaga {
    background-color: #007bff;
    color: rgb(0, 0, 0);
    border: none;
}

.btn-remove-vaga {
    background-color: #6f00ff;
    color: rgb(0, 0, 0);
    border: none;
}

.btn-add-carro {
    background-color: #00f7ff;
    color: rgb(0, 0, 0);
    border: none;
}

.neon-text {
    color: rgb(34, 34, 34);
    text-shadow: 
        0 0 5px #00f,
        0 0 10px #00f,
        0 0 20px #00f,
        0 0 40px #00f,
        0 0 80px #00f,
        0 0 160px #00f;
    animation: neon-blink 1.5s ease-in-out infinite alternate;
}

@keyframes neon-blink {
    from {
        text-shadow: 
            0 0 5px #00f,
            0 0 10px #00f,
            0 0 20px #00f,
            0 0 40px #00f,
            0 0 80px #00f,
            0 0 160px #00f;
    }
    to {
        text-shadow: 
            0 0 10px #00f,
            0 0 20px #00f,
            0 0 30px #00f,
            0 0 50px #00f,
            0 0 100px #00f,
            0 0 200px #00f;
    }
}